<!DOCTYPE HTML>
<html>
  <head>
    <title>Welcome to avocado world!</title>
  </head>
  <body>
      <h1>Welcome to Avocado Stop!</h1>
      <p>This is your one pit stop for everything avocados. Look at these delicious avocados below.</p>
      <br />
      <img src="/static/avocados.png" width="30%" />
      <p>Try and guess the password:</p>
      <form action="/form" method="post">
        <input type="password" name="password" />
        <button type="submit">Submit!</button>
      </form>
  </body>
</html>

